.colorBox{
    position: absolute;
    height: 135px;
    width: 135px;
    top: 60px;
    left: 920px;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffc468, #e4a557);
    box-shadow:  20px 20px 29px #9f733d, 
                 -20px -20px 29px #fffb85;
}