.introContain{
    display: flex;
    height: 50em;
    flex-flow: row wrap;
    padding: 140px 6em 270px;
}

@media only screen and (maxwidth : 320px){
   .introContain{
       flex-flow: column wrap;
   } 
}