.layoutDiv{
    margin: 3rem auto;
    padding: 0 1rem;
    flex-flow: column wrap;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .layoutDiv{
          margin: 1.5rem auto;
          padding: 0;
      }
  }