.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navBar{
    display: flex;
    margin: 0 auto;
    position: relative;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .navBar{
          margin: 0;
      }
      .list{
          position: relative;
          left: -50px;
      }
  }