.projectBox{
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(to right, #f7b733, #fc4a1a); 
    padding: 2.5rem 1rem;
    margin: 5rem 7rem;;
    border-radius: 50px;
    width: auto;
    align-items: center;
}

.projectBox:hover{
    transition:all .4s ease-in-out;
    transform: translate3d(0,-5px,0);
    box-shadow: 0 52px 74px rgba(0,0,0,.12);
}

.text{
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.gridContainer{
    display: grid;
    width: 75%;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .projectBox{
          margin: 0 1rem;
          margin-top: 10px;
      }
      .gridContainer{
          grid-template-columns: auto;
      }
  }