.cardContainer{
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    background-color: #fefaf6;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.line{
    border: 1px solid #acacac;
    width: 70%;
    margin: 10px
}

.title{
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: -8px;
}

.bioContainer{
    display: flex;
    justify-content: center;
    width: 70%;
}

.buttonContainer{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

