.container{
	display: flex;
	flex-flow: column;
	border-radius: 25px;
	background-color: #fbf0d1;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	position: relative;

}

.title{
	font-weight: bold;
	font-size: 9rem;
}

.picLink{
	height: 100%;
	width: 100%;
	z-index: 4;
	border-radius: 5px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .title{
          font-size: x-large;
      }

      .container{
	      max-width: 50%;
      }
  }