.container{
    background: linear-gradient(to right top, #008081, #007681, #006b7f, #00607b, #0a5574);
    display: flex;
    flex-flow: column wrap;
    padding: 2.5rem 1rem;
    margin: 5rem 7rem;;
    border-radius: 50px;
    width: auto;
    align-items: center;
}

.container:hover{
    transition:all .4s ease-in-out;
    transform: translate3d(0,-5px,0);
    box-shadow: 0 52px 74px rgba(0,0,0,.12);
}

.resume{
    width: 1000px;
    height: 1000px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .container{
          margin: 0 1rem;
          margin-top: 10px;
      }
      .resume{
          width: 90%;
          height: 350px;
      }
  }